@media (max-width: 1200px) {
    section {
        margin-top: 100px;
        margin-bottom: 100px;

        &:first-child {
            margin-top: 130px;
            margin-bottom: 200px;
        }
    }

    h2 {
        margin-bottom: 30px;
    }

    .container {
        padding-left: 15px;
        padding-right: 15px;
    }

    .contacts {
        &::before {
            content: "";
            display: block;
            margin-top: -100px;
            padding-top: 100px;
        }
    }

    .select {
        &::before {
            content: "";
            display: block;
            margin-top: -100px;
            padding-top: 100px;
        }
    }

    .header {
        height: 70px;

        &__nav {
            position: fixed;
            top: 70px;
            left: 0;
            width: 100%;
            height: calc(100vh - 70px);
            display: flex;
            flex-direction: column;
            align-items: start;
            gap: 30px;
            padding: 35px 15px;
            background: var(--grey);
            transition: var(--transition);
            transform: translateX(100%);

            &.open {
                transform: none;
            }
        }

        .menu {
            flex-direction: column;
            gap: 20px;
            align-items: start;
        }

        .btn {
            display: none;

            &.mobile {
                display: inline-block;
                padding: 15px 40px;
            }
        }

        &__active {
            display: flex;
            gap: 20px;
        }

        &__arrow {
            display: none;
        }

        &__select {
            position: initial;
            padding: 0;
            opacity: 1;
            transform: none;
            outline: none;
            border-radius: 0;
            background: none;
        }

        &__burger {
            display: block;
            width: 25px;
            height: 25px;
            background: url(../images/burger.svg) center / contain no-repeat;
            border: none;
            transition: var(--transition);

            &.open {
                transform: rotate(-360deg);
                background: url(../images/close.svg) center / 20px no-repeat;
            }
        }
    }

    .hero {
        .container {
            grid-template-columns: 2fr 1fr;
            align-items: start;
        }

        &__image {
            width: 100%;
            height: auto;
            aspect-ratio: 1/1;
        }
    }

    .advantages {
        &::before {
            content: "";
            display: block;
            margin-top: -100px;
            padding-top: 100px;
        }

        &__list {
            gap: 25px;
        }
    }

    .instructions {
        &__list {
            grid-template-columns: 1fr;
            gap: 25px;
        }
    }

    .platform {
        &::before {
            content: "";
            display: block;
            margin-top: -100px;
            padding-top: 100px;
        }

        &__list {
            gap: 25px;
        }

        &__item {
            height: 455px;
            justify-content: start;
            gap: 20px;
        }

        p {
            max-width: 100%;
        }
    }

    .feature {
        &__list {
            gap: 25px;
            grid-template-columns: 1fr 1fr;
        }
    }

    .analitycs {
        &::before {
            content: "";
            display: block;
            margin-top: -100px;
            padding-top: 100px;
        }
    }

    .faq {
        &__list {
            &>li {
                &>h3 {
                    padding: 15px 25px;
                }
            }
        }
    }
}