<footer class="footer">
    <div class="container">
        <nav class="footer__nav">
            <div class="footer__logo"></div>

            <ul class="menu">
                <li class="menu-item">
                    <a href="##">About Us</a>
                </li>

                <li class="menu-item">
                    <a href="##">Platform</a>
                </li>

                <li class="menu-item">
                    <a href="##">Trading terms</a>
                </li>

                <li class="menu-item">
                    <a href="##">Analytics</a>
                </li>

                <li class="menu-item">
                    <a href="##">Contacts</a>
                </li>
            </ul>
        </nav>

        <div class="footer__docs">
            <a href="##">Customer Agreement</a>
            <a href="##">Privacy Policy</a>
            <a href="##">Refund Policy</a>
            <a href="##">AML Policy</a>
            <a href="##">KYC Policy</a>
        </div>

        <p>Risk Warning: Trading currencies, CFDs and other leveraged assets carries a high capital risk and is not suitable for all investors. Before you start trading, make sure you fully understand the risks involved, consider your investment objectives and level of experience, and seek independent expert advice if necessary. Please read the full risk warning. Regional Restrictions: The services and information on Nano-trade.org are not intended for U.S. citizens/residents or for distribution or use by any person in any country or jurisdiction where such distribution or use would be contrary to local laws or regulations.</p>

        <p>The company operates under the requirements of the Cyprus Securities and Exchange Commission (Licence Number: 346/65), the International Financial Services Commission (IFSC) (26/853/HT/77) and the Financial Services Commission of the Republic of Mauritius (Investment Dealer Licence Number: C049843756). Secured by SSL.</p>

        <p>Copyright © 2024. All rights reserved.</p>
    </div>
</footer>

<div class="upButton"></div>

<script defer src="/js/main.min.js"></script>

</body>

</html>